body {
  padding: 0;
  margin: 0;
}

.document-container {
  margin: auto;
  padding: $baseSize 0;
}

@media (min-width: $maxWidth) {
  .document-container {
	width: $maxWidth;
  }
}

@media (max-width: $maxWidth) {
  .document-container {
	width: 100%;
  }
}

p {
  margin-top: 0;
  margin-bottom: $baseSize;
}

.box {
  display: block;
  margin: $baseSize;
  padding: $baseSize;
  box-shadow: -2px 2px 12px -5px;
  border: 1px solid black;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

#notification-area {
  position: fixed;
  top: $baseSize;
  bottom: $baseSize;
  right: $baseSize;
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

.notification {
  display: none;
  height: 4em;
  margin: 1em 0 0;
  padding: $baseSize;
  border: 1px solid black;
  border-radius: $baseSize;
  background-color: white;

}